<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893631533961-qe12gu85rdfgacfbfrtbulqkq3b5j0ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893631533961-qe12gu85rdfgacfbfrtbulqkq3b5j0ko</string>
	<key>API_KEY</key>
	<string>AIzaSyBkwm-kindl6j5dqg84E5GCR91Fg281Sxk</string>
	<key>GCM_SENDER_ID</key>
	<string>893631533961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soker.webtag</string>
	<key>PROJECT_ID</key>
	<string>soker-f37cd</string>
	<key>STORAGE_BUCKET</key>
	<string>soker-f37cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:893631533961:ios:6f0031e5d14633e3</string>
	<key>DATABASE_URL</key>
	<string>https://soker-f37cd.firebaseio.com</string>
</dict>
</plist>