<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>888579919684-q1hn8n1cin9srh0uu9cp4d3o7gas8rp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888579919684-q1hn8n1cin9srh0uu9cp4d3o7gas8rp4</string>
	<key>API_KEY</key>
	<string>AIzaSyDanXpfTNRGb7gijQQHsECBfaLsOp-wpjE</string>
	<key>GCM_SENDER_ID</key>
	<string>888579919684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.app.webtag.thevox</string>
	<key>PROJECT_ID</key>
	<string>thevox-2e7a3</string>
	<key>STORAGE_BUCKET</key>
	<string>thevox-2e7a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888579919684:ios:a1e6ab693b29f45b</string>
	<key>DATABASE_URL</key>
	<string>https://thevox-2e7a3.firebaseio.com</string>
</dict>
</plist>